MONGODB_URI=<your-mongodb-connection-string>
PORT=8000
FRONTEND_API_LINK=https://mygradegenie.vercel.app
EMAIL_USER=<your-email-address>
EMAIL_PASS=<your-email-app-password>
COLLEGE_NAME=EduPortal College
